{% extends 'base.html.twig' %}

{% block title %}Equipement!{% endblock %}

{% block body %}


     
    <h1 style="
    text-align: center;
">Produits  {{equipement|length}}</h1>

    {% if equipement|length > 0 %}
        <div class="card-deck">
                {% for equipement in equipement %}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">


<div class="row">
<div class="col-md-12">
	<figure class="card card-product">
		<div class="img-wrap" style="background-color: chocolate;"> 
			<img src="https://s9.postimg.org/tupxkvfj3/image.jpg">
			<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Pas d'images</a>
		</div>
		<figcaption class="info-wrap">
			<h6 class="title text-dots"><a href="#">{{equipement.name}}</a></h6>
            <p class="card-text">Stock : {{equipement.stock}}</p>
			<div class="action-wrap">
				<a href="{{path('info', {'id' : equipement.id})}}" class="btn btn-primary btn-sm "> AFFICHER </a>
				<div class="price-wrap h5">
					<span class="price-new"> Prix {{equipement.price}}€</span>
				</div> <!-- price-wrap.// -->
			</div> <!-- action-wrap -->
		</figcaption>
	</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
	


</div> 


  
                  
                {% endfor %}
        </div>
    {% else %} <br>
        <a href="{{path('load')}}">Recharger l'equipement</a>
    {% endif %}
    <br>
    <a href={{path('add_equipement')}}><button class="btn btn-primary">Ajouter un equipement</button></a>
{% endblock %}

